<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <input type="text" class="firstName" placeholder="First Name">
    <input type="text" class="lastName" placeholder="Last Name">
    <input type="email" class="email" placeholder="fxyz@gmail.com">
    <input type="password" class="password" placeholder="password">
</body>
</html>